body {
    margin: 0px;
    padding: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:url(img/bg.jpg) ;
}

header {
    text-align: center;
    color: white;
}

#card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#card-container a {
    text-decoration: none;
    color: black;
    cursor: initial;
}

.profile-card {
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);    
}

.fun-fact {
    color: #555;
}

.profile-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    transform: scale(1.05);
}

.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 18px;

}

@media (min-width: 760px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1026px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}